<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Reviews</title>
</head>
<body>
  <h1>All Reviews</h1> -->

  <!-- Display reviews with checkboxes -->
  <!-- <form action="/deleteReview" method="post">
    <% for (const review of userReviews) { %>
      <div>
        <input type="checkbox" name="reviewId" value="<%= review.reviewId %>">
        <%= review.title %>
      </div>
    <% } %>

    <button type="submit">Delete Selected Reviews</button>
  </form>
</body>
</html> -->
