<%- include ('../partials/head') %> <%- include ('../partials/menu') %>
<main>
    <div class="container center" style="background-color: rgb(73, 68, 68);">
        <div class="container" style="height: 282px; width: 1512; background-color: black;">
        </div>
        <div id="Game Contents Top Left" style="display: inline-block;">
            <h1 style="color: white; font-weight: bolder;">Game Title</h1>
            <h5 style="color: rgb(182, 182, 182);">Year * ESRP Rating</h5>
        </div>
        <div id="Game Contents Top Right" style="display: inline-block;">
            <h5 style="color: rgb(182, 182, 182);">Users' Ratings!</h5>
        </div>
        <div class="card center" style="width: 55rem; height: 750px; transform: translate(-50%, -43%); background-color: rgb(73, 68, 68); border: none;">
            <img class="card-img-top" style="height: 600px;" src="/img/Logo.jpg" alt="Video Game Cover Art">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Now this is where the game synopsis will go.</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Back To Top</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        <!-- <div>
            <table>
                <th>
                    <tr>
                        <td class="gTT" style="text-align: left;">Year</td>
                        <td class="gTT center">Rating</td>
                        <td class="gTT">Age Rating</td>
                    </tr>
                </th>
                    <!-- <%# games.forEach(game => { %>
                        <td>game.name</td>
                        <td>game.aggregated_rating</td>
                        <td><%# game.genres.forEach(genre => { %>
                            <%#= `${genre.name}, `%>
                        <%# }); %>
                        </td>
                    <%# }); %> -->
            <!-- </table>
        </div> -->
    </div>
</main>

<%- include ('../partials/footer') %>