<%- include ('../partials/head') %> <%- include ('../partials/menu') %>
<main>
    <div class="center" style="background-color: rgb(73, 68, 68); width: 65%;">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Game Title</h5>
              <p class="card-text">Here is where the game reviews will go.</p>
            </div>
            <img class="card-img-top" src="/img/Logo.jpg" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        <!-- <div>
            <table>
                <th>
                    <tr>
                        <td class="gTT" style="text-align: left;">Year</td>
                        <td class="gTT center">Rating</td>
                        <td class="gTT">Age Rating</td>
                    </tr>
                </th>
                    <!-- <%# games.forEach(game => { %>
                        <td>game.name</td>
                        <td>game.aggregated_rating</td>
                        <td><%# game.genres.forEach(genre => { %>
                            <%#= `${genre.name}, `%>
                        <%# }); %>
                        </td>
                    <%# }); %> -->
            <!-- </table>
        </div> -->
    </div>
</main>

<%- include ('../partials/footer') %>