<%- include ('../partials/head') %>
<%- include ('../partials/loMenu') %>

<!-- style="background-image: url(/img/background.jpeg);" and idea... -->
<main>
  <div class="container">
    <div class="center">
        <h1 style="background-color: mediumseagreen; width: 300px; padding-top: 10px;">Welcome Back!</h1>
        <h2 style="background-color: mediumseagreen; width: 80px;">Login</h2>
        <div class="container-fluid" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
        <form action="http://localhost:3000/login" method="POST" style="width: 450px; margin-right: auto; margin-left: 0;">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
              <small id="usernameHelp" class="form-text text-muted">We'll never share your data with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="container" style="padding-top: 20px;">
                <p>Don't have an accont? <a class="link" href="http://localhost:3000/register">Register</a> <button type="submit" class="btn btn-primary right">Login</button></p> 
            </div>
          </form>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="width: 650px; height: 650px; margin-left: auto; margin-right: 0;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <!-- ../../resources/img/100-best-games-hp-b.jpg for the image path -->
                <img class="d-block w-100" src="/img/100-best-games-hp-b.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <!-- ../../resources/img/DALLE1.png for the image path -->
                <img class="d-block w-100" src="/img/DALLE1.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <!-- ../../resources/img/DALLE2.png for the image path -->
                <img class="d-block w-100" src="/img/DALLE2.png" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
    </div>  
  </div>
</main>

<%- include ('../partials/footer') %>