<%- include ('../partials/head') %>
<%- include ('../partials/loMenu') %>

<main>
  <div class="container">
    <h1>Logged out successfully!</h1>
    <h2>Back to <a class="link" href="/login">Login</a>
  </div>
  <div class="center">
    <img src="https://media.tenor.com/9Ar4dnLth98AAAAM/thanks-for-playing-red-bull.gif" alt="Thanks for Playing Gif" style="width: 400px;">
  </div>
</main>
<%- include ('../partials/footer') %>