<%- include ('../partials/head') %>
<%- include ('../partials/loMenu') %>

<main>
  <div style="width: 100vw; background-image: url(img/background.png);">
    <div class="container" style="background-color: rgb(22, 138, 239); border-radius: 15%; width: fit-content;">
      <h1>Logged out successfully!</h1>
      <h2>Back to <a class="link" href="/login">Login</a>
      <div class="center" style="width: 100vw;">
        <img src="https://media.tenor.com/9Ar4dnLth98AAAAM/thanks-for-playing-red-bull.gif" alt="Thanks for Playing Gif" style="width: 100vw; height: 50vh;">
      </div>
    </div>
</div>
</main>
<%- include ('../partials/footer') %>