main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
}

.menu{
  padding-bottom: 20pt; 
  background-color: #f2f2f2;
}

.center {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* gameTableText */
.gTT{
  color: white;
}

.saveGameButton{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.saveGameButtonImg{
  border-radius: 50%;
}

.discoverHeader{
  background-color: rgb(171, 170, 170);
  border-radius: 20%;
  width: fit-content;
}

.scrollspy{
    position: fixed; /* Makes the element fixed */
}

.navigationItem{
  border-radius: 25%;
  width: 80px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
}

.backFooter{
  box-shadow: 0 50vh 0 50vh gray;
  background-color: gray;
  font-weight: bolder;
  margin-top: 50px;
}

/* Navigation Bar */

.navBar{
  background-color: #dadada; 
  border-bottom: 2px solid #d3d3d3;
  padding: 10px 0;
}

.navButton{
  background-color: #add8e6;
  padding: 18pt;
  margin-left: 5pt;
  margin-right: 5pt;
}

.butn{
  color: black;
  background-color: #add8e6;
  font-weight: bold;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.carouselImg {
  height: 741px;
}