.center {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
/* gameTableText */
.gTT{
  color: white;
}

.navigationItem{
  border-radius: 25%;
  width: 80px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center; /* Align horizontal */
  align-items: center; /* Align vertical */
}

.backFooter{
  background-color: red;
  border: deeppink;
  margin-top: 50px;
}

.navTitle{
  text-shadow: -1px 1px 2px #fffdfd, 1px 1px 1px #fbf8f8, 1px -1px 0 #ffffff, -1px -1px 0 #fcfcfc; 
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

main {
  background-image: url(../img/background.png);
}

.carouselImg {
  height: 741px;
}