<header>
    <nav class="navbar navbar-expand-sm border-bottom" style="background-color: mediumseagreen;">
      <div class="container">
        <div>
          <form role="Icon">                                  <!-- Icon with link back to Home Page-->
            <div class="d-flex" role="search">
                <a class="navbar-brand" href="/home">
                    <img src="/img/Logo.png" alt="Logo" width="50" height="50" id="Logo" style="border-radius: 50%;">
                </a>
            </div>
        </form>
        </div>
        <div class="nav-item center" style="font-weight: bolder; font-family: fantasy monospace; font-size: larger;">PlayPal ~ Where Gamers Have a Voice</div>
      </div>
    </nav>
   </header>