<header>
    <nav class="navbar navbar-expand-sm border-bottom" style="background-color: mediumseagreen;">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <form role="Icon">                                  <!-- Icon with link back to Home Page-->
            <div class="d-flex" role="search">
                <a class="navbar-brand" href="/home">
                    <img src="/img/Logo.png" alt="Logo" width="40" height="40" id="Logo" style="border-radius: 50%;">
                </a>
            </div>
        </form>
        </div>
      </div>
    </nav>
   </header>