<header>
    <nav class="navbar navbar-expand-sm border-bottom" style="background-image: url(/img/NavBackground.jpeg);">
      <div class="container">
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item navigationItem" style="background-color: rgb(244, 51, 51);">
                <a class = "nav-link" style="color: black;" href ="/discover">Discover</a>
            </li>
            <li class="nav-item navigationItem" style="background-color:  rgb(244, 51, 51);">
                <a class = "nav-link" style="color: black;" href ="/game">Game</a>
            </li>
            <li class="nav-item navigationItem" style="background-color: rgb(244, 51, 51);">
              <a class="nav-link" style="color: black;" href="/myReviews">My Reviews</a>
            </li>            
            <!-- <li class="nav-item navigationItem" style="background-color: rgb(244, 51, 51);">
              <a class="nav-link" style="color: black;" href="/allReviews">All Reviews</a>
            </li>        -->
          </ul>
          <div class="nav-item navigationItem" style="background-color: rgb(79, 196, 255);">
                <a class = "nav-link" href ="/logout">Logout</a>
          </div>
          <form role="Icon">                                  <!-- Icon with link back to Home Page-->
            <div class="d-flex" role="icon">
                <a class="navbar-brand" href="/home">
                    <img src="/img/Logo.png" alt="Logo" width="50" height="50" id="Logo" style="border-radius: 50%;">
                </a>
            </div>
        </form>
        </div>
      </div>
      <div class="nav-item center navTitle" style="font-weight: bolder; font-family: fantasy monospace; font-size: larger; background-color: rgb(13, 193, 13); border-radius: 25%;">PlayPal ~ Where Gamers Have a Voice</div>
    </nav>
   </header>