<header class="menu">
    <nav class="navbar navBar navbar-expand-sm border-bottom">
      <div class="container">
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item navigationItem navButton">
              <a class = "nav-link butn" href ="/home">Home</a>
            </li>
            <li class="nav-item navigationItem navButton">
                <a class = "nav-link butn" href ="/discover">Discover</a>
            </li>
            <li class="nav-item navigationItem navButton">
              <a class="nav-link butn" href="/myReviews">Reviews</a>
            </li>            
            <li class="nav-item navigationItem navButton">
              <a class = "nav-link butn" href ="/profile">Profile</a>
          </li>
          <li class="nav-item navigationItem navButton">
            <a class = "nav-link butn" href ="/search">Search</a>
          </li>
        </ul>
        <div class="nav-item navigationItem navButton">
              <a class = "nav-link butn" href ="/logout">Logout</a>
        </div>
        <form role="Icon">                                  <!-- Icon with link back to Home Page-->
          <div class="d-flex" role="icon">
              <a class="navbar-brand" href="/home">
                  <img src="/img/Logo.png" alt="Logo" width="50" height="50" id="Logo" style="border-radius: 50%;">
              </a>
          </div>
      </form>
      </div>
    </div>
  </nav>
 </header>