<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form class="mb-3" action="/login" method="POST">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required/>
        
        <label for="password" class="form-label">Password:</label>
        <input type="text" class="form-control" id="password" name="password" required/>

        <label for="button" class="form-label">Don't have an account? <a href="register">Register</a></label>
        <button type="submit" class="btn btn-primary">Login</button>
      
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>