<%- include ('../partials/head') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Profile</h1>

    
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
